.body1 {
    background-color: rgba(244, 244, 252, 0);
}
    

.body2 {
    background-color: aqua;
}

.row1 {
    color: coral;
}

.div35 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

